<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <form method="GET" action="/Metaverse_RoboMaster1">
      <input type="submit" value="bot1">
    </form>
    <br>
    <form method="GET" action="/Metaverse_RoboMaster2">
      <input type="submit" value="bot2">
    </form>
    <br>
    <form method="GET" action="/Metaverse_RoboMaster3">
      <input type="submit" value="bot3">
    </form>
  </body>
</html>
