<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
    
    
    <!-- <script src="/javascripts/move.js" charset="utf-8"></script> -->
  </head>
  <body onload="">
    <script src="/javascripts/move.js"></script>
    <div id=particles-js></div>
    <!-- <script type="module">
      import * as THREE from 'https://cdn.skypack.dev/three';
      import {OrbitControls} from 'https://cdn.skypack.dev/three/examples/jsm/controls/OrbitControls.js';
      console.log('prrrrrrrrrrr2');
      const scene = new THREE.Scene();

      const camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 10 );
      camera.position.z = 5;
      
      const renderer = new THREE.WebGLRenderer();
      renderer.setSize( window.innerWidth, window.innerHeight );
      document.body.appendChild( renderer.domElement );

      const geometry = new THREE.SphereGeometry(1, 32, 32);
      const texture = new THREE.TextureLoader().load('https://cdn.materialdistrict.com/wp-content/uploads/2019/10/material-highlights-dutch-design-week-2019-materialdistrict-1.jpg');
      const material = new THREE.MeshBasicMaterial( { map:texture } ); //color: 0xffff00
      const sphere = new THREE.Mesh( geometry, material );
      scene.add( sphere );

      const controls = new OrbitControls( camera, renderer.domElement );
      
      function animate() {

        sphere.rotation.x += 0.01;
        sphere.rotation.y += 0.01;
        renderer.render( scene, camera );
        requestAnimationFrame(animate);
        controls.update();
      }
      animate();
    </script>
    <div id="info">TEST Studio</div> -->

    <div id="centerbox">
      <img id="place">
    </div>
    <form method="post" action="/posttest"></form>
    <div class="flex">
      <div id="textbox">
        <div id="story">_</div>
        <div id="audio">_</div>
      </div>
      <button id="mic" onclick="talk();"><img id="mic_img" src="/images/microphone.png"></button>
    </div>
  </body>
  <script src="/javascripts/plus.js" charset="utf-8"></script>
  
</html>
