<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="/javascripts/plus.js" charset="utf-8"></script>
    
  </head>
  <body onload="">
    <div id="centerbox">
      <!-- <div><%= title %></div>
      <div>Welcome to <%= title %></div> -->
      <!-- <div id="nowDiv"></div> -->
      <!-- <div id="sec"></div> -->
      <img id="park" src="/images/park.jpg">
      <div id="textbox">_</div>
      <div id="mic"><button onclick="talk();">talk</button></div>
    </div>
  </body>
</html>
